{% extends 'user-interne.html' %}


{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-multiselect.css' %}" >
<script src="{% static 'bootstrap/js/bootstrap-multiselect.js' %}"></script>

<div class="container-fluid container-profil">
		
		<div class="col-sm-12">
			<h1> {% trans "Mon compte" %} </h1>
		</div>

		<div class="col-sm-12">	
			<div class="col-md-4 my-account-grid">
				<div class="row profil-menu">
					<ul>
						<li> <a href="{% url 'members:my-account' %}" > {% trans "Votre compte" %} </a> </li>
						<li> <a href="{% url 'members:my-account-information' %}" > {% trans "Votre recherche" %} </a> </li>
						<li> <a href="{% url 'members:my-account-password' %}" class="profil-menu-active"> {% trans "Mot de passe" %} </a> </li>
					</ul>
				</div>
			</div>

			<div class="col-md-8 my-account-grid-2">
				<div class="col-sm-12 profil-container">

					<div class="col-sm-12">
						<div class="row">
							<h2> {% trans "Mot de passe" %} </h2>
						</div>
					</div>

					{% if form.errors %}
				  		<div class="alert alert-danger col-sm-12"> 
						    <ul>
						    {% for field, error in form.errors.items %} 
						        <li>{{ error }}</li>
						    {% endfor %}
						    </ul>
						</div>
					{% endif %} 

					{% if messages %}
					    {% for message in messages %}
					    	<div class="col-sm-12">
						  		<div class="alert alert-success col-sm-12" role="alert"> 
								    {{ message }}
								</div>
							</div>
					    {% endfor %}
					{% endif %}

					<form method="POST" action="">
						{% csrf_token %}

						<div class="col-sm-12">
							<div class="row">

								<div class="col-sm-12 line-profil">
									<div class="col-sm-10">
										<label> {% trans "Ancien de mot de passe" %}  </label>
										<input type="password" name="old_password" class="form-control">
									</div>
								</div> 

								<div class="col-sm-12 line-profil">
									<div class="col-sm-10">
										<label> {% trans "Nouveau de mot de passe" %}  </label>
										<input type="password" name="password" class="form-control">
									</div>
								</div> 

								<div class="col-sm-12 line-profil">
									<div class="col-sm-10">
										<label> {% trans "Confirmer mot de passe" %}  </label>
										<input type="password" name="confirm_password" class="form-control">
									</div>
								</div> 

								<div class="col-sm-10 button-submit">
									<input type="submit" name="Submit" value="{% trans 'Enregistrer' %}" class="btn-general-blue-2">
								</div>

							</div>
						</div>

					</form>
				</div>	
			</div>
		</div>
</div>

<script type="text/javascript">
$('#list-type-contrat').multiselect({
	nonSelectedText: 'Type de contrat',
	checkboxName : "contracts"
});
</script>

<script type="text/javascript">
	$( document ).ready(function() {
	   	init_autocomplete("id_search_location");
	});
</script>
	
{% endblock %}