{% extends 'user-interne.html' %}

{% block myc2v%} active {% endblock %}
{% block js_autocomplete %}  {% endblock %}

{% block content %}

{% load staticfiles %}
{% load i18n %}


<div class="container-fluid c2v-content c2v-content-no-connect" style="margin-bottom:300px;">		
	<div class="row">

		<h1> {% trans "Créer votre CV en 1 clic" %} </h1>

		<div class="col-sm-12 c2v-rs">


			<div class="col-sm-6 c2v-linkedin" style="text-align:right">
				<a href="{% url 'members:viadeo-connect' %}?{{ request.GET.urlencode }}"> <img src="{% static 'images/viadeo-connect.png' %}"> </a>
			</div>

			<div class="col-sm-6 c2v-linkedin" style="text-align:left">
				<a href="{% url 'members:linkedin-connect' %}?{{ request.GET.urlencode }}"> <img src="{% static 'images/refonte/home-member-01.png' %}"> </a>
			</div>


			<div class="col-sm-12 c2v-video" style="text-align:center"> 
					<div class="signeUpErrors alert alert-danger" style="display:none;"> </div>
					<!--<a  onClick="getInfo()" class="clickFbConnect" ><img src="{% static 'images/myc2v-61.png' %}"></a> -->
					<img src="{% static 'images/bx_loader.gif' %}" class="loadFbConnect" style="display:none">
			 </div>
		</div>

		<div class="col-sm-12 c2v-connexion">
			<div class="col-sm-12 ">
				<h2 style="color:##333366"> {% trans "Connectez-vous" %} </h2>
			</div>
			{% if form.errors %}
		  		<div class="alert alert-danger  col-sm-12"> 
				    <ul>
				    {% for field, error in form.errors.items %} 
				        <li>{{ error }}</li>
				    {% endfor %}
				    </ul>
				</div>
			{% endif %} 

			<form method="POST" action="">
				{% csrf_token %}
				<div class="col-sm-5 col-input">
					 <div class="input-group">
			      		<div class="input-group-addon"> <span class="glyphicon glyphicon-envelope"></span> </div>
			      		<input type="text" class="form-control" name="username" value="{{ form.username.value|default_if_none:"" }}" placeholder="Email">
			    	</div>  
				</div>

				<div class="col-sm-5 col-input"> 
					<div class="input-group">
				      	<div class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </div>
				      	<input type="password" class="form-control" name="password" placeholder="Mot de passe">
				    </div>
				    <div class="c2v-passwprd-oublie"> <a href="{% url 'pages:reset-password-1' %}"> {% trans "Mot de passe oublié ?" %} </a></div>
				</div>

				<div class="col-sm-2 col-input"> <input type="submit" value="S'identifier" class="btn-general-blue btn-submit"> </div>
			</form>
		</div>

		<div class="col-sm-12 c2v-inscription">
			{% trans "Pas encore inscrit ?" %} <a href="{% url 'members:inscription' %}" class="btn-general-red" style="color:##333366"> {% trans "S'inscrire sur Pitch my job" %}</a>
		</div>

	</div>
</div>

<br>
 

{% endblock %}