<link rel="stylesheet" href="//assets-cdn.ziggeo.com/css/ziggeo-v1.css" />
<script src="//assets-cdn.ziggeo.com/js/ziggeo-v1.js"></script>
<script>ZiggeoApi.token = "e50140772b22dbd8cbda85384066b8e5";</script>
<script>ZiggeoApi.language = "fr";</script>
<script>ZiggeoApi.Config.resumable = true;</script>


 <ziggeo ziggeo-width=320
          ziggeo-height=240
          modes = ['rerecorder']>
  </ziggeo> 



<script>
        ZiggeoApi.Events.on("submitted", function (data) {
        	console.log( data.video );
            //alert("The video with token " + data.video.token + " has been submitted!");
        });

        console.log(  ZiggeoApi.Videos.source('ef899091154c93d233ce52689b183a1f') );
</script> 


<br><br><br><br>



  <iframe width="420" height="315" src="https://www.youtube.com/embed/X5RCoruZgnA" frameborder="0" allowfullscreen></iframe>
  <iframe width="420" height="315" src="https://www.youtube.com/v/tR0eVIS4OYw?version=3&f=user_uploads&c=AIzaSyB9XJwjGTdtnDfUL7R4Wwz-e6F8BIiaJdg&d=AS1Pn8g7FMCyxSFNmH3z34sO88HsQjpE1a8d1GxQnGDm&app=youtube_gdata" frameborder="0" allowfullscreen></iframe>

<br><br><br>



  110316224



  <iframe src="//player.vimeo.com/video/110316224" width="300" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
