{% extends 'pages/base-mon-compte.html' %}

	
{% block a-propos %} profil-menu-active {% endblock %}

{% block subcontent %}
{% load i18n %}


<div class="col-sm-12 pages-content-a-propos">

L’aventure Pitch my Job part du constat qu’aujourd’hui, le seul moyen offert à un candidat pour dépasser les lignes de son cv et de défendre sa candidature lorsqu’il postule en ligne est sa lettre de motivation !

	<br><br> Malheureusement, la lettre de motivation n’est presque jamais lue par les recruteurs, car elle ne leur permet pas de déceler la personnalité, les connaissances ou la réelle motivation des postulants.

	<br><br> Pitch my Job, un site d’emploi qui réinvente la candidature en remplaçant la lettre de motivation par des pré-entretiens vidéo.

	<br><br> Plutôt que de demander une lettre de motivation, les entreprises ajoutent des questions d’entretien à leurs annonces d’emploi et les candidats postulent en répondant à ces questions en vidéo depuis leur ordinateur ou leur smartphone.

	<br><br> Pour nous accompagner dans cette aventure, nous pouvons nous appuyer sur un partenaire de choix, Viadeo, dont nous avons intégré l’incubateur en septembre 2016.

	<br><br> Vous prendrez bien une petite vidéo pour la route ?

	<br><br> https://www.youtube.com/watch?v=S-2pmpi-Tps


</div>
	
{% endblock %}