{% extends 'pro-interne.html' %}


{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

<div class="container-fluid container-profil">
		
		<div class="col-sm-12">
			<h1> CONDITIONS GENERALES DE VENTE </h1>
		</div>

		<div class="col-sm-12">	
			<div class="col-xs-12 ">
				<div class="col-sm-12 profil-container cgu" >

					
					ARTICLE 1er – DEFINITIONS  <br><br>

					Candidat : Personne physique utilisant les services de Pitchmyjob pour rechercher un emploi en France et consulter les offres d’emploi mises en ligne sur le site pitchmyjob.fr.  <br>
					Donnée(s) Utilisateur : Ensemble des données (informations, renseignements, textes, logiciels, musiques, sons, photos, graphiques, vidéo, etc.) qu’un Utilisateur des Services de Pitchmyjob met en ligne sur le Site  Pitchmyjob.com nécessaire à son offre ou sa demande d’emploi.  
					Compte Utilisateur : Compte que l’Utilisateur ouvre en s’inscrivant au site pitchmyjob.com afin de lui permettre l’accès aux services de Pitchmyjob. <br>
					Données personnelles : « Toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres. Pour déterminer si une personne est identifiable, il convient de considérer l’ensemble des moyens en vue de permettre son identification dont dispose ou auxquels peut avoir accès le responsable du traitement ou toute autre personne » (Loi n°2004-801 du 6 août 2004).<br>  
					Entreprise Utilisatrice : Personne physique ou morale, inscrite sur le site pitchmyjob.com , qui met en ligne sur le site  Pitchmyjob.com une ou plusieurs offres d’emploi en qualité d’employeur pour les besoins de son entreprise.  <br>
					Espace Utilisateur : Espace réservé à l’Utilisateur des services de pitchmyjob.com, après son inscription sur le site pitchmyjob.com, lui permettant d’accéder aux services de Pitchmyjob et regroupant l’ensemble de ses contenus et son Profil.  <br>
					Profil Entreprise : Fiche descriptive, mise en ligne par une entreprise utilisatrice sur le site pitchmyjob.com, regroupant l’ensemble des informations relatives à l’activité de l’entreprise et en lien avec les offres d’emploi qu’elle met en ligne.  <br>
					Home Page du Site : Page d’accueil du site pitchmyjob.com.  <br>
					L’outil d’entretien différé : Outil intégré sur le site pitchmyjob.com, propriété de Pitchmyjob permettant aux utilisateurs des services de Pitchmyjob d’interagir sous deux formes : Vidéo, Audio en différé  <br>
					CV : Document mis en ligne par le candidat sur le site pitchmyjob.com regroupant l’ensemble des informations et renseignement le concernant.
					Référent : Personne désignée par l’Entreprise Utilisatrice comme étant co-responsable avec l’Entreprise Utilisatrice de l’utilisation du mot de passe permettant d’accéder au compte utilisateur.   <br>
					Le Site : www.pitchmyjob.com  <br>
					Utilisateurs des Services de Pitchmyjob : Les Candidats et les Entreprises Utilisatrices.  <br>  

					<br><br><br>
					ARTICLE 2 – OBJET ET PRESENTATION DU SITE PITCHMYJOBCOM<br><br>

					Pitchmyjob met à la disposition des Candidats et des Entreprises Utilisatrices (ci-après désignés ensemble « les Utilisateurs des Services de Pitchmyjob »), le site Internet et les applications mobiles  Pitchmyjob.com, un service en ligne publiant des offres d’emploi des Entreprises Utilisatrices et des Demandes d’emploi des Candidats et permettant aux Candidats de définir leur profil individuel pouvant s’ils le souhaitent d’une part, contenir des Informations Personnelles (ci-après désignés « Profil ») et d’autre part, avec leur accord, être diffusés en tout ou partie aux Entreprises Utilisatrices (ci-après désignés « les Services de Pitchmyjob »).  <br>
					Ainsi, les Utilisateurs des Services de Pitchmyjob bénéficient d’une source d’information relative à la demande et à l’offre d’emploi en France.  <br>
					Pitchmyjob fournit à cette fin, en qualité de simple hébergeur :  <br>
					D’une part, l’espace de stockage et les outils techniques associés et/ou nécessaires permettant aux Utilisateurs des Services de Pitchmyjob, dûment inscrits, de diffuser sur le Site leurs informations relatives à leur(s) demande(s) d’emploi et leur CV ou à leur(s) offre(s) d’emploi ;  
					Les Entreprises Utilisatrices peuvent consulter gratuitement des profils anonymes de Candidats et contenant uniquement certains ou tous les éléments suivants :  <br>
					L’expérience du Candidat<br>
					La formation du Candidat  <br>
					Les compétences du Candidat  <br>
					La rémunération souhaitée par le Candidat   <br>
					Le type de contrat de travail (CDD, CDI etc …) souhaité par le Candidat<br>
					Les disponibilités du Candidat<br>
					Les vidéos du candidat <br>
					Le secteur d’activité recherché par le candidat<br>
					La fonction/métier recherché par le candidat<br>

					Si les Entreprises Utilisatrices souhaitent consulter d’autres Informations Personnelles contenues dans le CV d’un ou plusieurs Candidat(s) et en particulier avoir ses coordonnées (nom, prénom, adresse exacte, numéro de téléphone, adresse email) pour entrer en contact avec le candidat, elles doivent souscrire l’offre payante de Pitchmyjob dans les conditions définies par les présentes Conditions Générales de Vente.   
					ARTICLE 3 – OBJET ET CHAMPS D’APPLICATION DES CGV  <br>

					Les présentes Conditions Générales de Vente (CGV) ont pour objet de définir les conditions dans lesquelles Pitchmyjob vend aux Entreprises Utilisatrices son offre payante, accessible par Internet et sur les applications mobiles pitchmyjob.com, ainsi que les droits et obligations des Parties dans le cadre de leurs relations contractuelles.   <br>
					Pitchmyjob se réserve le droit de faire évoluer la liste des Produits et Services contenus dans son offre payante, d’y ajouter et/ou modifier des Produits et Services, sans que l’Entreprise Utilisatrice ne puisse prétendre à une quelconque indemnité. Plus particulièrement, Pitchmyjob se réserve le droit d’ajouter des fonctionnalités à celles composant son offre payante. Pitchmyjob en informera alors l’Entreprise Utilisatrice.  <br>
					Les présentes Conditions Générales de Vente s'appliquent, sans restriction ni réserve à l'ensemble des Produits et Services composant l’offre payante de Pitchmyjob sur son site Internet et ses applications mobiles pitchmyjob.com.  <br>
					Ces conditions s'appliquent à l'exclusion de toutes autres conditions, et notamment celles applicables pour d'autres circuits de commercialisation de ces prestations. <br>
					 Ces Conditions Générales de Vente sont accessibles à tout moment sur ce site Internet et les applications mobiles et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire. <br>
					Sauf preuve contraire, les données enregistrées par Pitchmyjob constituent la preuve de l'ensemble des transactions.  <br>
					Les Produits et Services de Pitchmyjob présentées sur le site Internet et les applications mobiles pitchmyjob.com sont proposés à la vente sur le territoire Français.   <br><br><br>

					ARTICLE 4 –  ACCEPTATION, MODIFICATION ET CONSERVATION DES CGV  <br><br>

					4.1  Acceptation des CGV  <br>
					La validation de la Commande, telle que définie à l’article 5 des présentes CGV, par le Client vaut acceptation sans réserve des présentes Conditions Générales de Vente.   <br>
					4.2  Modification des CGV  <br>
					Pitchmyjob se réserve le droit de modifier et de faire évoluer, à tout moment, les présentes Conditions Générales de Vente.  <br>
					Les Conditions Générales de Ventes modifiées seront immédiatement mises en ligne sur le site internet et les applications mobiles pitchmyjob.com.   <br>
					Toutes les modifications issues de mesures législatives ou réglementaires entreront en application immédiatement et sans réserve.  
					Lors de chaque modification des présentes Conditions Générales de Vente, autres que celles issues de mesures législatives ou règlementaires, Pitchmyjob en avertira le Client sur son Espace Client en l’invitant à prendre connaissance des Conditions Générales de Vente actualisées et d’en accepter la nouvelle version en vigueur  <br>
					Les autres modifications prendront effet immédiatement à compter de leur mise en ligne sur le site internet et les applications mobiles pitchmyjob.com mais ne seront pas applicables aux commandes validées antérieurement à ladite modification par le Client et ce, uniquement pendant l’année en cours du contrat.  <br>
					Lors de chaque renouvellement du contrat par tacite reconduction, telle que prévue à l’article 7 des présentes Conditions Générales de Vente, Pitchmyjob adressera un courriel au Client l’informant des éventuelles nouvelles Conditions Générales de Vente en vigueur, eu égard aux modifications intervenues, qui devront impérativement être signées par le Client.  <br>
					Si le Client refuse de signer les nouvelles Conditions Générales de Vente en vigueur, Pitchmyjob pourra résilier le contrat.  
					Toutefois, les présentes Conditions Générales de Vente sont mises à la disposition du Client par un lien hypertexte figurant sur le Site internet et les applications mobiles pitchmyjob.com et ce, à titre d’information uniquement.  <br>
					Le Client a la faculté de télécharger et sauvegarder lesdites Conditions Générales à partir du site internet et des applications mobiles pitchmyjob.com, ces opérations relevant de sa responsabilité exclusive. Le document ainsi téléchargé et sauvegardé étant susceptible de modifications par Pitchmyjob, il ne pourra en aucun cas faire foi. Seule la version des Conditions Générales signées par le Client seront valables et auront autorité entre les Parties.    <br><br><br>
					 ARTICLE 5 –  L’OFFRE PAYANTE DE Pitchmyjob AU SERVICE DES ENTREPRISES UTILISATRICES  <br><br>

					5.1  Contenu de l’offre payante de Pitchmyjob<br>
					Au-delà de la diffusion des offres d’emploi gratuite, Pitchmyjob offre aux Entreprises Utilisatrices la possibilité d’obtenir, de façon payante et dans les conditions définies par les présentes Conditions Générales de Vente, l’identité d’un ou plusieurs Candidat(s) et des informations complémentaires le(s) concernant et contenues dans leurs Profils, à savoir :  <br>
					Adresse exacte<br>
					Numéro de téléphone<br>
					Adresse email   <br>
					Vidéo des candidats<br>
					Formations<br>
					Expériences<br>
					Compétences<br>
					Pour avoir accès à ces informations complémentaires,  Pitchmyjob a obtenu l’accord express et préalable des Candidats concernés pour diffuser les dites informations aux Entreprises Utilisatrices intéressées.  <br> 
					Des services supplémentaires, dont la liste non exhaustive comprend le support téléphonique gratuit, sont aussi disponibles dans l’offre payante  Pitchmyjob.  <br>
					5.2  Modalités de souscription à l’offre payante de Pitchmyjob <br>
					Pour souscrire à l’offre payante de  Pitchmyjob, l’Entreprise Utilisatrice doit obligatoirement et préalablement, si cela n’a pas déjà été fait, créer un Compte Utilisateur lui permettant d’avoir accès à un Espace Utilisateur personnel et sécurisé en utilisant un mot de passe.  
					Pour ce faire,  Pitchmyjob invite l’Entreprise Utilisatrice à se reporter aux Conditions Générales d’Utilisation du Site  Pitchmyjob.com et notamment à l’article 1.7 « conditions d’accès et d’utilisation des services et contenus de  Pitchmyjob».  
					Une fois son Compte Utilisateur créé et pour souscrire à l’offre payante de  Pitchmyjob, l’Entreprise Utilisatrice doit remplir en ligne un formulaire de commande en cliquant entre autres sur l’onglet       « Crédits » présent sur son Espace Utilisateur. La commande de l’offre payante de  Pitchmyjob s’effectue uniquement sur le Site internet et les applications mobiles  Pitchmyjob.com. Les frais de connexion et d’accès à Internet sont à la charge de l’Entreprise Utilisatrice.  <br>
					En passant sa commande, l’Entreprise Utilisatrice doit choisir l’un des trois packs suivants composant l’offre payante de  Pitchmyjob :  
					Pack “ Offre d’emploi” : l’Entreprise Utilisatrice achète une offre d’emploi et 5 accès de CV de la CV thèque, ainsi qu’à l’envoie de 5 demandes d’entretien. Cette offre est valable 30 jours à compter du paiement.<br>
					Pack “CV thèque“ : l’Entreprise Utilisatrice achète l’accès à 50 CV de candidats de la CV thèque ainsi que l’envoie de 50 demandes d’entretien. Cette offre est valable 30 jours à compter du paiement.<br>
					Pack “Hybride” : l’Entreprise Utilisatrice achète une offre d’emploi et 50 accès de CV de la CV thèque, ainsi qu’à l’envoie de 50 demandes d’entretien. Cette offre est valable 30 jours à compter du paiement.<br>
					Dans le cas où une l’Entreprise Utilisatrice a des besoins particuliers,  Pitchmyjob pourra adapter un pack spécifiquement pour cette l’Entreprise Utilisatrice avec l’accord de celle-ci. Le tarif et les modalités de paiement seront validés par les deux parties.  
					Après avoir rempli le formulaire de commande et choisi l’un des packs proposés par  Pitchmyjob, l’Entreprise Utilisatrice est dirigée automatiquement vers un récapitulatif de sa commande. L’Entreprise Utilisatrice a alors la possibilité de composé un Code Promotionnel, si celui-ci lui a été fourni par  Pitchmyjob, lui octroyant une remise sur le tarif du Pack choisi qui apparaîtra sur le récapitulatif de la commande.  
					A l’issue, l’Entreprise Utilisatrice doit choisir son mode de paiement du pack qu’elle a commandé.  Pitchmyjob accepte les chèques, les virements et les cartes de paiement.<br>
					 Pitchmyjob a confié son système de paiement à la BNP Paribas, prestataire spécialisé dans la sécurisation des paiements en ligne. Ainsi,  Pitchmyjob garantit la totale confidentialité des informations bancaires de l’Entreprise Utilisatrice, qui sont sécurisées par un protocole qui contrôle automatiquement la validité des droits d’accès lors d’un paiement par carte bancaire et crypte tous les échanges afin d’en garantir la confidentialité.  Pitchmyjob ne connait et ne conserve jamais les informations qui concernent la carte bancaire de l’Entreprise Utilisatrice.  
					Après avoir choisi son mode de paiement et renseigné les informations demandées à ce titre, l’Entreprise Utilisatrice est invitée à vérifier le contenu du récapitulatif de sa commande avant de valider celle-ci. La validation de la commande constitue une acceptation irrévocable qui ne peut être remise en cause que dans les limites prévues par les présentes Conditions Générales de Ventes. Toute commande implique, de la part de l’Entreprise Utilisatrice, une prise de connaissance préalable et une acceptation sans réserve des présentes Conditions Générales de Vente.  
					Au terme de la loi, la validation de la commande associée à la procédure d’authentification et de non répudiation, ainsi qu’à la protection de l’intégralité des messages, constitue une signature électronique, qui a valeur entre les parties au même titre qu’une signature manuscrite. Sauf preuve contraire, les données enregistrées par Pitchmyjob constituent la preuve de l’ensemble des transactions passées entre elle et l’Entreprise Utilisatrice.  <br>
					Enfin,  Pitchmyjob adressera à l’Entreprise Utilisatrice, par courrier électronique, une confirmation de la commande qu’elle a validée avec la facture.   <br><br><br>
					ARTICLE 6 –  CONTENU DU CONTRAT LIANT PITCHMYJOB ET L’ENTREPRISE UTILISATRICE  <br><br>

					Le contrat liant  Pitchmyjob à l’Entreprise Utilisatrice est composé des éléments suivants :  <br>
					La confirmation de commande<br>
					 Les Conditions Générales de Vente<br>
					Les Conditions Générales et particulières d’Utilisation du site  Pitchmyjob.com   <br><br><br>
					ARTICLE 7 –  DUREE, ENTREE EN VIGUEUR ET RENOUVELLEMENT DU CONTRAT  <br><br>

					Le Contrat entre en vigueur pour 30 jours, à compter de la réception par l’Entreprise Utilisatrice de sa confirmation de commande par courrier électronique et de sa facture. <br>
					Si l’Entreprise Utilisatrice a acheté un Pack spécifique, le contrat et ses conditions seront validés par les deux parties.  <br><br><br>

					ARTICLE 8 –  DROIT DE RETRACTATION  <br><br>

					L’Entreprise Utilisatrice dispose, en application des articles L.121-20 et suivants du code de la consommation, d’un délai de rétractation de sept (7) jours ouvrables à compter de la confirmation de commande. Pour exercer de droit de rétractation, l’Entreprise Utilisatrice devra adresser un courriel à  Pitchmyjob à travers le formulaire de contact disponible dans le pied-de page du site.  Pitchmyjob annulera alors immédiatement la commande de l’Entreprise Utilisatrice et procédera au remboursement des sommes payées au plus tard dans un délai de 30 jours. L’Entreprise Utilisatrice conservera alors seulement le fonctionnement de son Compte Utilisateur et l’accès aux services gratuits de  Pitchmyjob.   <br><br><br>
					ARTICLE 9 –  ACCES AU PACK COMMANDE  <br><br>

					L’Entreprise Utilisatrice aura accès au Pack qu’elle a commandé, de manière confidentielle et sécurisée, en ligne sur le site internet et les applications mobiles  Pitchmyjob.com, en se connectant sur son Espace Utilisateur au moyen de son mot de passe et selon les conditions d’utilisation prévues par les Conditions Générales d’Utilisation du site  Pitchmyjob.com.   <br><br><br>

					ARTICLE 10 –  PRIX ET MODALITES DE PAIEMENT  <br><br>

					Les Packs, tels que définis à l’article 5.2 des présentes Conditions Générales de Vente, sont vendus aux tarifs en vigueur figurant sur le site internet et les applications mobiles  Pitchmyjob.com, en euros HT et TTC, et rappelés dans la confirmation de commande adressée par Pitchmyjob  à l’entreprise utilisatrice.   <br>
					Toutefois, il peut être fait application d’une remise par  Pitchmyjob à l’Entreprise Utilisatrice si celle-ci a obtenu un code promotionnel et l’a renseigné à l’endroit indiqué dans son formulaire de commande. Dans ce cas, le récapitulatif de la commande et la confirmation de commande feront apparaître le prix définitif du Pack choisi par l’Entreprise Utilisatrice, déduction faite de la remise consentie au titre du code promotionnel.  <br>
					 Pitchmyjob se réserve le droit de modifier ses prix, tels que mentionnés sur son site et ses applications mobiles, à tout moment. Toutefois, le Pack, choisi par l’Entreprise Utilisatrice, sera facturé sur la base des tarifs en vigueur au moment de la confirmation de commande adressée à l’Entreprise Utilisatrice. <br>
					Le règlement des commandes s’effectue uniquement par carte bancaire, par virement ou par chèque et selon les caractéristiques définies à l’article 5.2 des présentes Conditions Générales de Vente.  <br>
					Le prix est payable comptant en totalité au jour de la confirmation de commande.   <br>
					 Pitchmyjob n’est pas tenu de procéder à la délivrance du Pack choisi par l’Entreprise Utilisatrice si cette dernière ne lui en paye pas le prix selon les conditions de règlement du prix dudit Pack.    <br><br><br>


					ARTICLE 11 –  GARANTIE ET RESPONSABILITE   <br><br>

					 Pitchmyjob garantit qu’elle délivrera,  une source d’informations relatives à la demande et  l’offre d’emploi en France d’une manière professionnelle.  <br>
					Cependant,  Pitchmyjob ne garantit pas la fiabilité des moyens d’accès dont dispose l’Entreprise Utilisatrice pour accéder au site  Pitchmyjob.com. Cette garantie appartient à l’Entreprise Utilisatrice dans les conditions définies par les Conditions Générales et Particulières d’Utilisation du site.  <br>
					 Pitchmyjob ne garantit pas non plus la stricte fiabilité des informations contenues dans les Profils et Contacts auxquels l’Entreprise Utilisatrice a accès par l’utilisation du Pack qu’elle a commandé et ce, dans la mesure où les dites informations sont mises en ligne par le Candidat lui-même dans son profil et où ces informations concernent uniquement le Candidat en rapport avec les offres d’emploi.   
					 Pitchmyjob n’a qu’une obligation de moyen et n’est pas le mandataire de l’Entreprise Utilisatrice. Elle n’est pas habilitée à fournir des conseils, notamment, en matière de recrutement. Dès lors, l’Entreprise Utilisatrice est seule responsable de l’interprétation et/ou de l’utilisation des Profils et Contacts auxquels elle a accès par l’utilisation du Pack qu’elle a commandé.   <br>
					 Pitchmyjob n’a que la qualité de simple hébergeur. De ce fait, elle fournit uniquement, d’une part, l’espace de stockage et les outils techniques associés et/ou nécessaires permettant aux Utilisateurs des Services de  Pitchmyjob, dûment inscrits, de diffuser sur le Site leurs informations relatives à leur(s) demande(s) d’emploi et leur Profil ou à leur(s) offre(s) d’emploi et, d’autre part, un outil technique permettant aux Utilisateurs des Services de  Pitchmyjob de favoriser leur mise en relation et d’optimiser la possibilité de créer entre eux une relation de travail. Ainsi, les informations diffusée par l’Entreprise Utilisatrice et le Candidat sur le Site, et dont ils sont à l’origine, le sont sous leur seule responsabilité.  <br>
					Chaque Partie s’engage, concernant l’utilisation du Pack et du site  Pitchmyjob.com, à se conformer à toutes législations applicables et notamment, sans que cela ne soit limitatif, au travail, à l’emploi et à la protection des données personnelles.  <br>
					L’Entreprise Utilisatrice s’engage également à ne pas prendre en compte, pour ses décisions relatives à l’embauche, les informations éventuellement fournies par le Candidat relatives à l’âge, au sexe, aux croyances religieuses, aux orientations politiques ou sexuelles ou l’appartenance ethnique ou toute autre information pouvant être discriminatoire.   <br><br><br>

					ARTICLE 12 –  FORCE MAJEURE   <br><br>

					Pitchmyjobne pourra en aucun cas être tenu responsable en cas de dysfonctionnement des systèmes indépendants de sa volonté, à savoir notamment les réseaux informatiques, de communications téléphoniques et Internet.  <br>
					 Pitchmyjob ne pourra en aucun cas être tenu responsable en cas de force majeure. De façon expresse, outre les cas habituellement retenus par la jurisprudence des Cours et Tribunaux français, les Parties admettent, sans que cette liste soit limitative, que ressortent, notamment soit de la force majeure, soit du cas fortuit, soit du fait d’un tiers, les dommages trouvant leurs origines ou leurs causes dans : une grève, un arrêt de fourniture d’énergie, une défaillance du réseau Internet, une défaillance du réseau des Télécommunications, des décisions gouvernementales ou législatives, des pertes de connectivité Internet dues aux opérateurs publics et privés dont dépend la plateforme technique utilisée. 

					 <br><br><br>

					ARTICLE 13 –  RESILIATION  <br><br>

					Le contrat pourra être résilié de plein droit par l’une ou l’autre des Parties en cas de manquement par l’autre partie à tout ou partie de ses obligations. Cette résiliation interviendra de plein droit sans autre formalité qu’une mise en demeure restée sans effet pendant 15 (quinze) jours ouvrés.    <br><br><br>
					ARTICLE 14 –  INFORMATIQUES ET LIBERTES  <br><br>

					En application de la loi 78-17 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandées à l’Entreprise Utilisatrice sont nécessaires au traitement de sa commande et à l’établissement des factures, notamment. Le traitement des informations communiquées a fait l’objet d’une déclaration auprès de la CNIL.  <br>
					L’Entreprise Utilisatrice, comme le Candidat, dispose, conformément aux règlementations nationales et européennes en vigueur, d’un droit d’accès permanent, de modification, de rectification et d’opposition s’agissant des informations le concernant.   <br><br><br>
					ARTICLE 15 –  DROIT APPLICABLE ET JURIDICTION COMPETENTE  <br><br>
					Les présentes Conditions Générales de Vente sont soumises au droit français.   <br>
					Tous les litiges auxquels le Contrat pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun.  <br>      
					



					

				</div>	
			</div>
		</div>
</div>

	
{% endblock %}