{% extends "base-login-inscription.html" %}

{% block content %}	
	{% load staticfiles %}
	{% load i18n %}
	
	<body class="connexion">
		<div class="row">
			<div class="col-md-12 connexion-logo"> <a href="{% url 'members:home' %}"> <img src="{% static 'images/PITCH-Helvetica-P-bleu.png' %}" class="home-user-logo logo-pitch-2"> </a>  </div>
		</div>


		<div class="connexion-bloc">
			<h1> {% trans "Mot de passe oublié ?" %} </h1>
			<div class="connexion-container">

				<form method="POST" action="">
					{% csrf_token %}
					<div class="connexion-form"> 
						<div class="text-reset-pwd-1">
							<img src="{% static 'images/myc2v-60.png' %}">
						</div>
						<div class="text-reset-pwd-1">
							{% trans "Votre demande à bien été envoyée par email" %} <br> 
							{% trans "Vous n'avez pas reçu d'email ? Consultez la" %} <a href="{% url 'pages:faq-general' %}"> {% trans "FAQ" %} </a>
						</div>


					</div> 

				</form>
				<div class="connexion-inscription"> {% trans "Besoin d'aide ? Consultez la" %} <a href="{% url 'pages:faq-general' %}"> {% trans "FAQ" %} </a> </div>
			</div>
			
		</div> 
	</body>

{% endblock  %}