{% extends "pro-interne.html" %}

{% block mes-offres %} active {% endblock %}

{% block content %}	
	{% load staticfiles %}
	{% load widget_tweaks %}
	{% load i18n %}

	<div class="my-account-pro">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" ><a href="{% url 'pro:my-account' %}" >{% trans "Mon compte" %}</a></li>
		    <li role="presentation" class="active"><a href="{% url 'pro:my-account-password' %}" >{% trans "Modifier mon mot de passe" %}</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="my-account-content">
		  		<form action="" method="POST">
		  			{% csrf_token %}

		  			<div class=" col-sm-12"> 
			  			{% if form.errors %}
					  		<div class="alert alert-danger col-sm-12"> 
							    <ul>
							    {% for field, error in form.errors.items %} 
							        <li>{{ error }}</li>
							    {% endfor %}
							    </ul>
							</div>
						{% endif %} 

						{% if messages %}
						    {% for message in messages %}
						    	<div class="col-sm-12">
							  		<div class="alert alert-success col-sm-12" role="alert"> 
									    {{ message }}
									</div>
								</div>
						    {% endfor %}
						{% endif %}
					</div>

			  		<div class="col-sm-2"> </div>

			  		<div class="col-sm-8">

			  			<div class="col-sm-12 line-profil">
							<div class="col-sm-12">
								<label> {% trans "Ancien de mot de passe" %}  </label>
								<input type="password" name="old_password" class="form-control">
							</div>
						</div> 

						<div class="col-sm-12 line-profil">
							<div class="col-sm-12">
								<label> {% trans "Nouveau de mot de passe" %}  </label>
								<input type="password" name="password" class="form-control">
							</div>
						</div> 

						<div class="col-sm-12 line-profil">
							<div class="col-sm-12">
								<label> {% trans "Confirmer mot de passe" %}  </label>
								<input type="password" name="confirm_password" class="form-control">
							</div>
						</div> 

						<div class="col-sm-12" style="text-align:right;">
							<div class="col-sm-12">
								<input type="submit" class="btn-general-red" value="Enregistrer">
							</div>
						</div>
			  		</div>

					<div class="col-sm-2"> </div>

				</form>

		  		<div class="clear"></div>
		  </div>

	</div>


{% endblock  %}
