Salut {{name}}, <br><br>

J'ai cru comprendre que vous cherchiez un emploi, est-ce toujours le cas ? <br>
Si oui, je vous à invite à découvrir <a href="https://www.pitchmyjob.com/fr/?utm_source=apec&utm_medium=email-apec&utm_campaign=email-jeudi">Pitch my job</a>, un nouveau site d'emploi qui remplace la lettre de motivation par des pré-entretiens. <br><br>

Le fonctionnement est simple, lorsqu'une entreprise publie une offre d'emploi sur Pitch my job, elle ajoute systématiquement des questions d’entretien auxquelles vous répondez en vidéo lorsque vous postulez à l’offre. <br><br>

Notre objectif est de vous permettre de dépasser les limites du cv et de la lettre de motivation afin de mettre en avant votre savoir être, votre motivation et votre personnalité. <br><br>

Le site est évidement gratuit pour les candidats, si ça vous intéresse, je vous invite à <a href="https://www.pitchmyjob.com/fr/?utm_source=apec&utm_medium=email-apec&utm_campaign=email-jeudi"> visiter Pitch my job</a> et je l'espère à trouver votre prochain Job, <br><br>

N'hésitez pas à revenir vers moi par mail si vous avez des questions ou des remarques. <br><br>

Excellente soirée, <br>
Martial Dahan. 

<br><br> 

<table>

	<tr>
		<td> <img src="http://pitchmyjob.com/static/images/team/martial.jpg" style="width:100px"> </td>
		<td valign="top" style="padding-left:18px;padding-top:15px">
			<div style="padding-bottom:10px;"> <b> Martial Dahan </b> </div>
			Co-fondateur | Pitch my job <br>
			martial@pitchmyjob.com
		</td>

	</tr>

</table>