Salut {{name}}, <br><br>

J'ai cru comprendre que tu cherchais un emploi, est-ce toujours le cas ? <br>
Si oui, je t’invite à découvrir <a href="https://www.pitchmyjob.com/inscription?utm_source=Email%201&utm_medium=e-mail&utm_campaign=Email%201
">Pitch my job</a>, un nouveau site d'emploi qui remplace la lettre de motivation par des pré-entretiens. <br><br>

Le fonctionnement est simple, lorsqu'une entreprise publie une offre d'emploi sur Pitch my job, elle ajoute systématiquement des questions d’entretien auxquelles tu réponds en audio/vidéo lorsque tu postules à l’offre. <br><br>

Notre objectif est de te permettre de dépasser les limites du cv et de la lettre de motivation afin de mettre en avant ton savoir être, ta motivation et ta personnalité. <br><br>

Le site est évidement gratuit pour les candidats, si ça t’intéresse, t’invite à <a href="https://www.pitchmyjob.com/inscription?utm_source=Email%201&utm_medium=e-mail&utm_campaign=Email%201
">visiter Pitch my job</a> et je l'espère à trouver ton prochain Job, <br><br>

N'hésite pas à revenir vers moi par mail si tu as des questions ou des remarques. <br><br>

Excellente soirée, <br>
Romain Lornac. 

<br><br>

<table>

	<tr>
		<td> <img src="http://pitchmyjob.com/static/images/team/Romain.jpg" style="width:100px"> </td>
		<td valign="top" style="padding-left:18px;">
			<div style="padding-bottom:10px;"> <b> Romain Lornac </b> </div>
			Co-fondateur <br>
			romain@pitchmyjob.com
		</td>

	</tr>

</table>