{% extends 'emails/layout.html' %}


{% block content %}
<div style="padding:30px 30px 20px 30px;">	
			<div style="font-size:20px; font-weight:bold; color:#2C3E50;text-transform:uppercase"> Notre sélection d'offres de la semaine  </div> 

	<div style="padding:10px 0;">
		Bonjour "Prénom"<br><br>
		Cette semaine nous avons sélectionné "X" offres pouvant vous correspondre.<br><br>
		Cliquez sur une des offres ci-dessous pour les visionner.<br><br>
			</div>

	
	<div style="padding-top:20px; text-align:center">
		<a href="" style="padding:10px 15px;color:#fff; background:#E73C3C; font-size:20px;"> VOIR TOUTES LES OFFRES </a>
	</div>
	<div style="padding-top:40px; font-style:italic;text-align:center">Si vous avez des questions n'hésitez pas à nous contacter au 0650024703 ou au 0669670272 ou par mail à l'adresse contact@pitchmyjob.com </div>
		</div>

{% endblock %}