{% extends 'emails/basic.html' %}

{% block content %}
{% load i18n %}

<h3>{% trans "Bonjour" %} {{ first_name }}</h3>
<p class="lead">{% trans "Un changement de mot de passe a été demandé sur notre site pour l'identifiant" %} "{{ email }}". </p>
<p>{% trans "Si vous êtes à l'origine de cette demande, et si vous êtes toujours d'accord pour procéder à la réinitialisation de votre mot de passe il vous suffit de cliquer sur le lien ci-dessous" %} :</p>
<!-- Callout Panel -->
<a href="http://www.pitchmyjob.com/password-reset/step3/{{ token }}" class="calloutpitch">
	{% trans "Réinitialiser mon mot de passe" %}
</a><!-- /Callout Panel -->		

{% endblock %}