Bonjour {{name}}, <br><br>

Je souhaitais personnellement vous remercier d’avoir fait confiance à <a href="https://www.pitchmyjob.com/fr/"></a> pour diffuser vos offres d’emploi.
<br>
<br>
Vous avez fait parti des premières entreprises à diffuser vos offres chez nous et encore une fois au nom de toute l’équipe de Pitch my job nous vous en remercions.
Nous sommes conscients que vous n’ayez pas ou peu eu de candidatures et nous en sommes désolé.
<br>
<br>
En effet nous étions au lancement du site et, comme toute entreprise le lancement a mis un peu de temps à se mettre en route.
<br>
<br>
Pour vous remercier de votre confiance vous profitez d’une diffusion illimitée de vos offres jusqu’en Janvier 2017.
<br>
<br>
N’hésitez pas à me re - contacter par mail ou par téléphone si vous le souhaitez. <br>
<br> 
Bonne fin de journée,

<br><br>

<table>

	<tr>
		<td> <img src="http://pitchmyjob.com/static/images/team/antoine1.jpg" style="width:100px"> </td>
		<td valign="top" style="padding-left:18px;">
			<div style="padding-bottom:10px;"> <b> Antoine Boudic </b> </div>
			Co-fondateur <br>
			antoine@pitchmyjob.com
		</td>

	</tr>

</table>