Bonjour {{name}}, <br><br>

Tu as postulé à l’offre <a href="https://www.pitchmyjob.com/fr/annonce/{{ id }}">{{ offre }}</a>  mais tu n’es pas allé au bout de ta candidature.
<br> <br>

Par souci de satisfaire l’ensemble de nos utilisateurs et d’améliorer le produit nous souhaiterions savoir pourquoi tu n’es pas allé au bout de ta candidature.
Peux tu nous donner les raisons qui t’ont poussé à arrêter l’entretien ?
<br><br>

Nous avons créé Pitch my job pour nos utilisateurs et mettons  tout en œuvre pour rendre le site tous les jours meilleur et c’est grâce à ce genre de retour que nous sommes capable d’améliorer le site jours après jours.
En espérant avoir un retour de ta part,
<br><br>
Toute l’équipe de Pitch my job
<br><br><br>

<table>

	<tr>
		<td> <img src="http://pitchmyjob.com/static/images/team/antoine2.jpg" style="width:100px"> </td>
		<td valign="top" style="padding-left:18px;">
			<div style="padding-bottom:10px;"> <b> Antoine Boudic </b> </div>
			Co-fondateur <br>
			antoine@pitchmyjob.com
		</td>

	</tr>

</table>