Bonjour {{ name }},
<br><br>
Tout d’abord merci de faire partie des “premiers” candidats à avoir cru en Pitch my Job. Ce n’est que le début de cette aventure et nous aurons très prochainement d’excellentes nouvelles à vous annoncer.
<br><br>
Aujourd’hui, nous participons à un challenge de startup qui pourrait nous permettre d’entrer en contact et de collaborer avec les plus grands groupes Français.
<br><br>
Pour cela, nous avons besoin qu’un maximum de personnes votent pour nous soutenir.
<br><br>
Étape 1: Cliquez sur ce lien http://rmsconf.com/paris/challenge-2016/ <br>
Étape 2: Cliquez sur le <3 à gauche pour voter (ne fonctionne que depuis un ordinateur) <br>
Étape 3: Les plus téméraires sont invités à laisser un commentaire !
<br><br>
Merci encore pour votre soutien et n’hésitez pas à revenir vers moi pour toutes questions ou besoins,
<br><br>
Bonne fin de journée,
<br><br><br>

<table>
	<tr>
		<td> <img src="http://pitchmyjob.com/static/images/team/martial.jpg" style="width:100px"> </td>
		<td valign="top" style="padding-left:18px;padding-top:15px">
			<div style="padding-bottom:10px;"> <b> Martial Dahan </b> </div>
			Co-fondateur | Pitch my job <br>
			martial@pitchmyjob.com
		</td>
	</tr>
</table>