{% extends 'emails/layout.html' %}


{% block content %}
	<div style="font-size:20px; font-weight:bold;text-transform:uppercase"> demandé d'invitation accepté  </div> 

	<div style="padding:10px 0;">
		Bonjour Yannis, <br>
		Nous avons le plaisir de vous annoncer que vous avez été sélectionné pour test PitchMyJob en avant première. <br><br>
		Code secret : <b>PitchDaJob</b><br><br>
		Si vous avez des questions n'hésitez pas à nous contacter au 010101010 ou par mail à l'adresse contact@pitchmyjob.com
	</div>
	<div style="padding-top:20px; text-align:center">
		<a href="" style="padding:10px 15px;color:#fff; background:#E73C3C; font-size:20px;"> ALLER SUR PITCH MA JOB </a>
	</div>

{% endblock %}